body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    color: #ffa500;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.input-label {
    display: none; /* Hide the label */
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label,
.input-field:valid + .input-label {
    top: -7px;
    left: 15px;
    color: #007bff;
    font-size: 12px;
}

.view-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #aaa;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
    position: absolute;
    bottom: -18px;
    left: 0;
}

#next-button,
#verify-button,
#reset-password-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#next-button:hover,
#verify-button:hover,
#reset-password-button:hover {
    background-color: #218838;
}
