body {
    font-family: Arial, sans-serif;
    background-image: url('file://C:/Users/Jothika/Downloads/mix-vegetables-food-isolated-yellow-background_429553-178_upscayl_16x_ultrasharp_1716895840116.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #ffa500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.signup-container h2 {
    color: #ffa500;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-field, .select-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.input-field:focus, .select-field:focus {
    border-color: #ffa500;
}

.input-label {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #aaa;
    transition: all 0.2s;
    pointer-events: none;
    background: white;
    padding: 0 5px;
    font-size: 16px;
}

.select-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #aaa;
    text-align: left;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label,
.input-field:valid + .input-label,
.select-field:focus + .input-label,
.select-field:not([value=""]) + .input-label,
.select-field:valid + .input-label {
    top: -7px;
    left: 15px;
    color: #ffa500;
    font-size: 12px;
}

.view-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #aaa;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
    position: absolute;
    bottom: -18px;
    left: 0;
}

#next-button {
    width: 100%;
    padding: 10px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#next-button:hover {
    background-color: #e69500;
}
